.side-navbar{
    padding: 0 10pt 0 10pt;
}

.navbar-link-item:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.image-shader{
    height: calc(100% - 6pt);
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 3pt rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 100ms;
    z-index: 1;
}

.image-shader img{
    height: 30pt;
    width: 30pt;
    position: absolute;
    top: calc(50% - 15pt);
    left: calc(50% - 15pt);
    background-color: white;
    border-radius: 100vh;
    transition: left 200ms;
}

.image-shader:hover{
    opacity: 1;
}

.listItemChoice:hover{
    height: 60pt;
}

.searchItemChoice:hover .listItemTitle{
    left: 2%;
}

.searchItemChoice:hover .listItemTitle .listItemImageFrame{
    height: 80%;
    min-width: calc(80pt + 3vw);
}

.listItemChoice:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.searchItemChoice:hover{
    border-top: solid 1pt gray;
    border-bottom: solid 1pt gray;
}