.navbar-link-item:hover{
    border: solid 1pt white;
    color: white;
}

.active-navbar-link-item:hover{
    background-color: var(--silverAqua);
}

.image-shader{
    height: calc(100% - 6pt);
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 3pt rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 100ms;
}

.image-shader img{
    height: 30pt;
    width: 30pt;
    position: absolute;
    top: calc(50% - 15pt);
    left: calc(50% - 15pt);
    background-color: white;
    border-radius: 100vh;
    transition: left 200ms;
}

.image-shader:hover{
    opacity: 1;
}

.media-slider-title-bar:hover{
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: 600;
    text-decoration: underline;
}

.listItemChoice:hover{
    height: 80pt;
}

.listItemChoice:hover .listItemTitle{
    left: 1%;
}

.listItemChoice:hover .listItemTitle .listItemImageFrame{
    height: 80pt;
    width: calc(80pt + 4vw);
}

.listItemChoice:hover{
    background-color: var(--navbarBgColor);
}