@font-face {
    font-family: 'WorkSans';
    src: url('Work_Sans/WorkSans-VariableFont_wght.ttf');
}

:root {
    --contrast: #F1F1F1;
    --theme: #1b1b1b;
    --accent: #80DCB7;
    --main: #FF8F00;
    --main2: #F6AE2D;
}

body{
    font-family: WorkSans;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 25vh;
    background-color: var(--theme);
    color: var(--contrast);
}

@media screen and (max-width: 600pt) {
    #searchBar{
        height: 20pt;
        padding: 5pt;
        width: calc(100vw - 30pt);
        margin: 15pt;
        color: white;
        background-color: rgb(39, 39, 39);
        border: none;
        outline: none;
    }

    #searchBar:focus{
        background-color: rgb(82, 82, 82);
    }
    .navbar-item-icon{
        height: 15pt;
        width: 15pt;
        margin-right: 7pt;
    }
    .navbar-item-text{
        display: none;
    }
}

@media screen and (min-width: 600pt) {
    #searchBar{
        position: absolute;
        top: 10pt;
        right: 10pt;
        padding: 10pt;
        font-size: 12pt;
        height: 35pt;
        width: 15vw;
        color: white;
        background-color: var(--theme);
        border-radius: 10pt;
        border: none;
        outline: none;
        transition: width 100ms;
    }
    #searchBar:focus{
        width: 20vw;
    }
    .navbar-item-icon{
        display: none;
    }
    .navbar-item-text{
        font-size: 13pt;
    }
}

#account-page-body{
    background: url('images/wallpaper.jpeg') transparent no-repeat center;
    background-size: cover;
    color: black;
}

#navbar{
    height: 55pt;
    width: 100vw;
    background-color: rgb(53, 53, 53);
    display: inline-block;
}

.navbar-logo{
    height: 40pt;
    width: 40pt;
    float: left;
    margin: 7.5pt 15pt 7.5pt 7.5pt;
}

.navbar-item-container{
    height: 40pt;
    width: fit-content;
    text-align: center;
    float: left;
    display: flex;
    align-items: center;
    padding: 7pt 15pt 7pt 15pt;
    cursor: default;
    color: rgb(194, 194, 194);
    font-weight: 400;
}

.navbar-item-container:hover{
    text-decoration: underline;
    color: white;
}

.active-navbar-container {
    color: white;
    font-weight: 600;
}

#navbar a{
    text-decoration: none;
    color: black;
}

.h1{
    font-size: 2vw;
    font-weight: 500;
    padding: 1vw;
}

.text-center{
    text-align: center;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 0.5vw;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.media-image-button{
    height: 10vw;
    width: 17vw;
    margin: 0.5vw;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
}

.media-image-button:hover{
    height: 11vw;
    width: 18vw;
    margin: 0;
}

.media-image-button-title{
    height: 14vw;
    width: 25vw;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0) 75%);
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: none;
}

#account-window-container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(30pt);
    -webkit-backdrop-filter: blur(30pt);
    overflow-y: scroll;
}

.account-window{
    max-height: 80vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(30pt);
    -webkit-backdrop-filter: blur(30pt);
    border-radius: 25pt;
    padding: 10vh 10vw 10vh 10vw;
    margin: 5vw 20vw 5vw 20vw;
}

#featuredPanel{
    height: 80vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
}

#homeFeaturedPanel{
    height: 100%;
    width: 100%;
    background: url('images/ratatouille-ci.jpg') transparent no-repeat center;
    background-size: cover;
}

#moviesFeaturedPanel{
    height: 100%;
    width: 100%;
    background: url('images/spider-man-homecoming-ci.jpg') transparent no-repeat center;
    background-size: cover;
}

#tvFeaturedPanel{
    height: 100%;
    width: 100%;
    background: url('images/the-office-ci.jpg') transparent no-repeat center;
    background-size: cover;
}

#utilityCollectionFeatured{
    height: 40vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, var(--theme) 0%, #14141480 50%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: flex-end;
}

#utilityCollectionFeatured .utilityItems{
    margin: 50pt;
}

.featured-panel-title{
    font-size: 30pt;
    font-weight: 600;
    color: white;
    margin: 5pt 5pt 20pt 5pt;
}

.button{
    height: auto;
    width: fit-content;
    padding: 10pt;
    margin: 5pt;
    background-color: rgb(60, 60, 60);
    font-size: 15pt;
    text-align: center;
    border-radius: 10pt;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
}

.button:hover{
    background-color: rgb(100, 100, 100);
}

.watch-button{
    background-color: var(--main);
}

.watch-button:hover{
    background-color: var(--main2);
}

.profile-picture-container{
    height: 200pt;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture{
    height: 150pt;
    width: 150pt;
    background-color: rgb(110, 110, 110);
    border-radius: 100%;
    border: solid 5pt var(--main2);
}

.profile-username{
    font-size: 23pt;
    padding-bottom: 30pt;
}

.section{
    height: auto;
    width: 40vw;
    margin-left: 4vw;
    /* background-color: rgb(183, 64, 64); */
    float: left;
}

.section-divider{
    height: 10pt;
    width: 100%;
    background-color: var(--theme);
    cursor: pointer;
}

.section-choice{
    height: auto;
    padding: 1vw;
    cursor: pointer;
    font-size: 1.5vw;
    border-radius: 1vw;
    background-color: rgb(78, 78, 78);
    margin: 1vw;
}

.section-choice:hover{
    background-color: var(--main);
}

#tvExpandScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#exitTvExpandScreenClicker{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

#tvExpandPanel{
    height: 90vh;
    width: 60vw;
    position: absolute;
    top: 10vh;
    left: 20vw;
    background-color: var(--theme);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

#tvExpandPanelTopImage{
    height: 60vh;
    width: 100%;
    background-color: black;
    background: url('images/the-office-ci.jpg') transparent no-repeat center;
    background-size: cover;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

#tvExpandPanelTopImageSheet{
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, var(--theme) 0%, #1414143c 50%, rgba(0,0,0,0) 100%);
}

#closeTvExpandScreenButton{
    height: 2vw;
    min-height: 20pt;
    width: 2vw;
    min-width: 20pt;
    padding: 5pt;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 1vw;
    right: 1vw;
    border-radius: 100%;
}

#closeTvExpandScreenButton:hover{
    background-color: red;
}

#tv-expand-panel-title{
    font-size: 40pt;
    font-weight: 600;
    padding: 0.5vw;
}

.utilityItems{
    position: absolute;
    bottom: 2vw;
    left: 2vw;
}

#tv-expand-panel-content-title{
    height: 70pt;
    background-color: black;
    font-size: 30pt;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    font-weight: 600;
}