:root{
    --navbarBgColor: rgb(17, 20, 29);
    --bodyBgColor: rgb(27, 31, 40);
    --seafoam: #80DCB7;
    --aqua: #0c1b2f;
    --darkAqua: rgb(18, 18, 47);
    --silverAqua: rgb(40, 55, 93);
    --princeton: #FF8F00;
    --honey: #F6AE2D;
    --violetBlue: rgb(54, 54, 105);

    --themePicker: rgba(227, 45, 255, 0.5);
}

@font-face {
    font-family: 'WatchFace';
    src: url('product-sans/Product\ Sans\ Regular.ttf');
}

@font-face {
    font-family: 'WatchFaceBold';
    src: url('product-sans/Product\ Sans\ Bold.ttf');
}

body{
    margin: 0;
    background-color: var(--bodyBgColor);
    color: white;
    font-family: WatchFace;
    padding-bottom: 4rem;
}

a{
    text-decoration: none;
    color: inherit;
}





/* Loading Screen */





#loadingScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

#loadingScreen img{
    height: 30vh;
}





/* Navigation bar */





.navbar{
    height: 50pt;
    background-color: var(--navbarBgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navbar{
    z-index: 1;
}

.right-navbar{
    height: 50pt;
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 10pt;
}
    
.navbar-link-item{
    height: 15pt;
    margin: 10pt 5pt 10pt 5pt;
    padding: 10pt;
    border-radius: 12pt;
    cursor: pointer;
    font-size: 13pt;
    font-weight: 1000;
    color: rgb(160,166,178);
    border: solid 1pt rgba(128, 128, 128, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar-link-item:hover{
    border: solid 1pt white;
    color: white;
}

.active-navbar-link-item{
    border: solid 1pt rgb(255, 255, 255);
    color: white;
    background-color: var(--violetBlue);
}

.active-navbar-link-item:hover{
    background-color: var(--silverAqua);
}

.profile-preview-icon{
    border-radius: 100%;
    height: 15pt;
    padding: 5pt;
    border: solid 2pt rgba(0,0,0,0);
    background-color: white;
}

.profile-preview-icon:hover{
    background-color: white;
    border: solid 2pt white;
}





/* Media slider */





.media-slider-section{
    padding-top: 4rem;
    position: relative;
    top: 0;
    left: 0;
}

.media-slider-title-bar{
    font-size: 1.5rem;
    font-weight: 1000;
    padding-bottom: 10pt;
    padding-left: 2vw;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.media-slider-carousel{
    font-size: 0;
    padding-left: 2vw;
}

.media-slider-object{
    height: 10.35vw;
    width: 18.4vw;
    border-radius: 1vw;
    margin: 0;
    margin-right: 1vw;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 700px) {
    .media-slider-object {
        height: 26.71875vw;
        width: 47.5vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .media-slider-object {
        height: 17.6249998125vw;
        width: 31.3333333333vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .media-slider-object {
        height: 13.078125vw;
        width: 23.25vw;
    }
}

.image-shader{
    height: calc(100% - 6pt);
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 3pt rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 100ms;
}

.image-shader img{
    height: 30pt;
    width: 30pt;
    position: absolute;
    top: calc(50% - 15pt);
    left: calc(50% - 15pt);
    background-color: white;
    border-radius: 100vh;
    transition: left 200ms;
}

.image-shader:hover{
    opacity: 1;
}





/* Media expand screen */





.expand-screen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
}

.expand-screen-contents{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;
    transition-duration: 300ms;
    opacity: 0;
}

.close-screen-clicker{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#tvPanel{
    height: 95vh;
    width: 75vw;
    position: absolute;
    top: 5vh;
    left: 12.5vw;
    background-color: var(--bodyBgColor);
    overflow-y: scroll;
}

#tvTopbar{
    height: 50pt;
    width: 75vw;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid 1pt gray; */
    backdrop-filter: blur(15pt);
    -webkit-backdrop-filter: blur(15pt);
    z-index: 1;
    border-bottom: solid 1pt gray;
}

#tvPanelTitle{
    font-size: 15pt;
    font-weight: 1000;
}

@media screen and (max-width: 800px) {
    #tvPanel{
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    #tvTopbar{
        justify-content: right;
        height: 50pt;
        width: calc(100% - 15pt);
        justify-content: right;
        padding-right: 15pt;
    }
}

.close-panel-icon{
    height: 20pt;
    padding: 5pt;
    margin: 10pt;
    position: absolute;
    top: 0;
    left: 0;
}

.close-panel-icon:hover{
    background-color: red;
}

#tvPanelNavbarContents{
    position: sticky;
    top: 50pt;
    z-index: 1;
    margin-bottom: 10pt;
    padding-left: 15pt;
}

.expand-panel-impression-image{
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 50pt;
    left: 0;
    background: transparent no-repeat center;
    background-size: cover;
}

.expand-panel-impression-shade{
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 50pt;
    left: 0;
    background: linear-gradient(0deg, var(--bodyBgColor) 0%, rgba(27, 31, 40, 0.8) 20%, rgba(0,0,0,0) 60%);
}

.expand-panel-contents{
    height: auto;
    width: 100%;
    position: absolute;
    top: 60vh;
}

.list{
    padding-bottom: 15vh;
}

.listItemChoice{
    min-height: 40pt;
    position: relative;
    cursor: default;
    padding: 10pt;
}

.listItemChoice:hover{
    background-color: var(--navbarBgColor);
}

.listItemTitle{
    height: 100%;
    position: absolute;
    top: 0;
    left: 20pt;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20pt;
    font-weight: 1000;
    max-width: 60%;
}

.listItemLabel{
    height: 100%;
    position: absolute;
    top: 0;
    right: 20pt;
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 40%;
}

.listItemImageFrame{
    height: 40pt;
    min-width: 65pt;
    display: inline-block;
    background: transparent no-repeat center;
    background-size: cover;
    margin-right: 10pt;
    border-radius: 5pt;
    border: solid 1pt rgb(255, 255, 255);
}

.action-button-container {
    height: auto;
    width: 100%;
    /* background-color: rgb(54, 35, 80); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-button{
    width: fit-content;
    color: white;
    font-size: 15pt;
    font-weight: 1000;
    padding: 10pt;
    border: solid 1pt gray;
    cursor: pointer;
    border-radius: 10pt;
    margin: 7pt;
    transition-duration: 300ms;
}

.activity-button:hover{
    background-color: rgb(84, 68, 145);
    border: solid 1pt white;
}

.filled-activity-button{
    border: solid 1pt var(--seafoam);
}






/* Search bar */





#searchBar{
    height: 50pt;
    width: calc(100vw - 40pt);
    margin: 5vh 20pt 5vh 20pt;
    background-color: var(--silverAqua);
    padding: 20pt;
    outline: none;
    font-size: 20pt;
    font-family: WatchFace;
    font-weight: 1000;
    color: white;
    border-radius: 15pt;
    border: none;
    transition: padding-left 300ms, box-shadow 300ms;
}

#searchBar::placeholder{
    font-size: 20pt;
    font-family: WatchFace;
    font-weight: 1000;
    color: rgb(189, 189, 189);
}

#searchBar:focus{
    box-shadow: 0 0 40pt 0 var(--navbarBgColor);
    padding-left: 30pt;
}





/* Use account prompt */





.screen-card{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-card-content{
    padding: 50pt;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-card-content .prompt-card{
    margin: auto;
}

.blur-background{
    backdrop-filter: blur(10pt);
    -webkit-backdrop-filter: blur(10pt);
}

.panel-card{
    width: 30vw;
    background-color: var(--bodyBgColor);
    padding: 25pt;
}

.panel-card .title{
    font-size: 20pt;
    font-weight: 1000;
    border-bottom: solid 1pt gray;
    padding-bottom: 10pt;
    margin-bottom: 10pt;
}

.horizontal-screen-button{
    margin: 10pt auto 0 auto;
    text-align: center;
    font-size: 12pt;
    padding: 5pt;
    cursor: pointer;
}

.horizontal-screen-button:hover{
    background-color: var(--navbarBgColor);
}

.primary-button{
    background-color: var(--silverAqua);
    border: solid 2pt rgb(97, 98, 133);
}

.secondary-button{
    border: solid 2pt var(--silverAqua);
}

.account-input-field{
    width: 100%;
    background-color: var(--navbarBgColor);
    outline: none;
    border: solid 1pt gray;
    padding: 10pt;
    color: white;
    font-size: 12pt;
    margin-top: 10pt;
}

/* Featured Panel */