.media-slider-title-bar{
    margin-left: 5vw;
}

.media-slider-carousel{
    font-size: 0;
    padding-left: 5vw;
}

.media-slider-object{
    height: 50vw;
    width: 35vw;
    border-radius: 3vw;
    margin-right: 3vw;
}

.desktop-navbar{
    display: none;
}
.mobile-navbar{
    display: flex;
}

#mobileNavbarDropMenu{
    height: calc(100vh - 50pt);
    width: 100vw;
    position: absolute;
    top: 50pt;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5pt);
    -webkit-backdrop-filter: blur(5pt);
    display: none;
    z-index: 90;
}

#mobileNavbarDropMenu div{
    height: auto;
    width: 100%;
    background-color: lightgray;
    padding: 10pt 0 10pt 0;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    position: absolute;
    top: 0;
}

.mobile-navmenu-link-item{
    height: 15pt;
    width: 90%;
    padding: 10pt 0 10pt 0;
    margin: 10pt 5% 10pt 5%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5pt;
    border: solid 2pt gray;
}

.mobile-navmenu-link-item:hover{
    background-color: rgb(87, 87, 87);
    color: white;
}

.active-mobile-navmenu-link-item{
    background-color: var(--darkPlum);
    color: rgb(255, 255, 255);
    border-color: var(--darkPlum);
}

.close-menu-clicker{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}