.navbar{
    background: none;
}

.main-navbar{
    max-width: calc(100vw - 110pt);
    border-bottom: solid 1pt gray;
}

.right-navbar{
    border-bottom: solid 1pt gray;
}




/* Media slider */





.media-slider-title-bar{
    padding-left: 5vw;
}

.media-slider-carousel{
    font-size: 0;
    padding-left: 5vw;
}

.media-slider-object{
    height: 50vw;
    width: 35vw;
    border-radius: 3vw;
    margin-right: 3vw;
}

.image-shader{
    display: none;
}