@font-face {
    font-family: 'WorkSans';
    src: url('Work_Sans/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Gantari';
    src: url('Gantari/Gantari-VariableFont_wght.ttf');
}

:root {
    --contrast: #F1F1F1;
    --theme: #1b1b1b;
    --accent: #80DCB7;
    --main: #FF8F00;
    --main2: #F6AE2D;
}

body{
    font-family: Gantari;
    background-color: var(--theme);
    color: var(--contrast);
    margin: 0;
    overflow-y: auto;
    padding-bottom: 45pt;
}

#navbar{
    height: 35pt;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--main);
    z-index: 718;
}

.navbar-logo{
    display: none;
}

.navbar-item-container{
    height: 100%;
    width: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
}

.navbar-item-text{
    display: none;
}

.navbar-item-icon{
    height: 15pt;
    width: 15pt;
}

.h1{
    font-size: 20pt;
    padding: 15pt 0 0 10pt;
    font-weight: 500;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll; 
    padding: 8pt;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.media-image-button{
    height: 40vw;
    width: 70vw;
    margin: 3pt;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
}

.media-image-button-title{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.394);
    /* background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0) 75%); */
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.odd{
    background-color: rgb(0, 0, 0);
}

#searchBar{
    width: calc(100vw - 20pt);
}

.desktop-search{
    display: none;
}

input{
    height: 25pt;
    font-size: 10pt;
    padding: 10pt;
    width: auto;
    margin: 10pt;
    background-color: rgb(84, 84, 84);
    color: white;
    outline: none;
    border-radius: 10pt;
}

.gradient-display-panel{
    height: 60vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.gradient-display-image{
    height: 100%;
    width: 100%;
    background: transparent no-repeat center;
    background-size: cover;
}

.utility-items-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, black 0%, #141414c6 25%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 90%, var(--theme) 100%);
}

.utility-items{
    height: auto;
    position: absolute;
    bottom: 17pt;
    left: 10pt;
}

.gradient-display-panel-title{
    font-size: 25pt;
    font-weight: 700;
    margin: 5pt 5pt 10pt 5pt;
    color: white;
}

.button{
    height: auto;
    width: auto;
    padding: 7pt;
    margin: 5pt;
    background-color: rgb(60, 60, 60);
    font-size: 10pt;
    text-align: center;
    border-radius: 10pt;
    cursor: pointer;
    font-weight: 600;
}

.button:hover{
    background-color: rgb(100, 100, 100);
}

.activity-button{
    background-color: var(--main);
}