:root{
    --navbarBgColor: rgb(17, 20, 29);
    --bodyBgColor: rgb(27, 31, 40);
    --seafoam: #80DCB7;
    --aqua: #0c1b2f;
    --darkAqua: rgb(18, 18, 47);
    --silverAqua: rgb(40, 55, 93);
    --princeton: #FF8F00;
    --honey: #F6AE2D;
    --violetBlue: rgb(54, 54, 105);

    --mainFont: WatchFace;

    --themePicker: rgba(227, 45, 255, 0.5);
}

@font-face {
    font-family: 'WatchFace';
    src: url('Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

body{
    margin: 0;
    background-color: var(--navbarBgColor);
    color: white;
    font-family: var(--mainFont);
    font-weight: 400;
    padding-bottom: 4rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#gradientWallpaper{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgb(51, 20, 45) 0%, rgb(51, 33, 102) 100%);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}





/* Loading Screen */





#loadingScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.646);
    backdrop-filter: blur(10pt);
    -webkit-backdrop-filter: blur(10pt);
    z-index: 10;
}

#loadingScreen img{
    height: 20vh;
    width: 20vh;
    position: absolute;
    top: 40vh;
    left: calc(50vw - 10vh);
}





/* Navigation bar */





.navbar{
    height: 50pt;
    background-color: var(--navbarBgColor);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navbar{
    z-index: 1;
}

.right-navbar{
    height: 50pt;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--navbarBgColor);
    display: flex;
    align-items: center;
    justify-content: right;
}
    
.navbar-link-item{
    height: 15pt;
    margin: 5pt;
    padding: 10pt;
    border-radius: 12pt;
    cursor: pointer;
    font-size: 13pt;
    color: rgb(160,166,178);
    border: solid 2pt rgba(128, 128, 128, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.active-navbar-link-item{
    border: solid 2pt rgb(255, 255, 255);
    color: white;
    background-color: var(--violetBlue);
}





/* Media slider */





.media-slider-section{
    padding-top: 4rem;
    position: relative;
    top: 0;
    left: 0;
}

.media-slider-title-bar{
    width: fit-content;
    font-size: 1.5rem;
    padding-top: 10pt;
    padding-bottom: 10pt;
    margin-left: 2.5vw;
    cursor: default;
    transition: padding-left 200ms;
}

.clickable-title:hover{
    cursor: pointer;
    padding-left: 10pt;
    padding-right: 1vw;
    font-weight: 600;
    text-decoration: underline;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.media-slider-carousel{
    font-size: 0;
    padding-left: 2vw;
}

.media-slider-object{
    height: 10.35vw;
    width: 18.4vw;
    border-radius: 1vw;
    margin: 0;
    margin-right: 1vw;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 700px) {
    .media-slider-object {
        height: 26.71875vw;
        width: 47.5vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .media-slider-object {
        height: 17.6249998125vw;
        width: 31.3333333333vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .media-slider-object {
        height: 13.078125vw;
        width: 23.25vw;
    }
}

.view-progress-container{
    height: 5pt;
    width: calc(100% - 2vw - 1pt);
    position: absolute;
    bottom: 10pt;
    left: 1vw;
    background-color: black;
    border-radius: 100vh;
    border: solid 1pt gray;
    box-shadow: 0 0 5pt 0 black;
}

.view-progress-bar{
    height: 100%;
    width: 50%;
    border-radius: 100vh;
    background-color: var(--princeton);
}





/* Media expand screen */





.expand-screen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.expand-screen-contents{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;
    transition-duration: 300ms;
    opacity: 0;
}

.close-screen-clicker{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.expand-panel{
    height: 95vh;
    width: 75vw;
    position: absolute;
    top: 5vh;
    left: 12.5vw;
    background-color: var(--bodyBgColor);
    overflow-y: scroll;
}

.expand-panel-topbar{
    height: 50pt;
    width: 75vw;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid 1pt gray; */
    backdrop-filter: blur(15pt);
    -webkit-backdrop-filter: blur(15pt);
    z-index: 1;
    border-bottom: solid 1pt gray;
}

.expand-panel-title{
    font-size: 15pt;
}

@media screen and (max-width: 800px) {
    .expand-panel{
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    .expand-panel-topbar{
        justify-content: right;
        height: 50pt;
        width: calc(100% - 15pt);
        justify-content: right;
        padding-right: 15pt;
    }
}

.close-panel-icon{
    height: 20pt;
    padding: 5pt;
    margin: 10pt;
    position: absolute;
    top: 0;
    left: 0;
}

.close-panel-icon:hover{
    background-color: red;
}

#tvPanelNavbarContents{
    position: sticky;
    top: 50pt;
    z-index: 1;
    margin-bottom: 10pt;
    padding-left: 5pt;
}

.expand-panel-impression-image{
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 50pt;
    left: 0;
    background: transparent no-repeat center;
    background-size: cover;
}

.expand-panel-impression-shade{
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 50pt;
    left: 0;
    background: linear-gradient(0deg, var(--bodyBgColor) 0%, rgba(27, 31, 40, 0.8) 20%, rgba(0,0,0,0) 60%);
}

.expand-panel-contents{
    height: auto;
    width: 100%;
    position: absolute;
    top: 60vh;
}

.list{
    padding-bottom: 15vh;
}

.listItemChoice{
    height: 50pt;
    position: relative;
    cursor: default;
    padding: 10pt;
    cursor: pointer;
    transition: height 300ms;
}

.listItemTitle{
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 17pt;
    max-width: 70%;
}

.listItemLabel{
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    max-width: 20%;
    font-weight: 300;
}

.listItemImageFrame{
    height: calc(100% - 20pt);
    min-width: 80pt;
    display: inline-block;
    background: transparent no-repeat center;
    background-size: cover;
    margin-right: 10pt;
    border-radius: 5pt;
    border: solid 1pt rgb(255, 255, 255);
}

.action-button-container {
    height: auto;
    width: 100%;
    /* background-color: rgb(54, 35, 80); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-button{
    width: fit-content;
    color: white;
    font-size: 15pt;
    padding: 10pt;
    border: solid 1pt gray;
    cursor: pointer;
    border-radius: 10pt;
    margin: 7pt;
    transition-duration: 300ms;
}

.activity-button:hover{
    background-color: rgb(84, 68, 145);
    border: solid 1pt white;
}

.filled-activity-button{
    border: solid 1pt var(--seafoam);
}






/* Search bar */





#searchBar{
    height: 50pt;
    width: 90%;
    margin: 5vh 5vw 5vh 5vw;
    background-color: var(--violetBlue);
    padding: 20pt;
    outline: none;
    font-size: 20pt;
    font-family: var(--mainFont);
    color: white;
    border-radius: 15pt;
    border: none;
    transition: padding-left 300ms, box-shadow 300ms;
    border: solid 2pt gray;
}

#searchBar::placeholder{
    font-size: 20pt;
    font-family: var(--mainFont);
    color: rgb(189, 189, 189);
}

#searchBar:focus{
    border: solid 2pt white;
    padding-left: 30pt;
}





/* Use account prompt */





.screen-card{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-card-content{
    padding: 50pt 0 50pt 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-card-content .prompt-card{
    margin: auto;
}

.blur-background{
    backdrop-filter: blur(10pt);
    -webkit-backdrop-filter: blur(10pt);
}

.panel-card{
    width: 30vw;
    background-color: var(--bodyBgColor);
    padding: 25pt;
}

@media screen and (max-width: 700px) {
    .panel-card{
        width: calc(100vw - 50pt);
    }
}

.panel-card .title{
    font-size: 20pt;
    border-bottom: solid 1pt gray;
    padding-bottom: 10pt;
    margin-bottom: 10pt;
}

.horizontal-screen-button{
    margin: 10pt auto 0 auto;
    text-align: center;
    font-size: 12pt;
    padding: 5pt;
    cursor: pointer;
}

.horizontal-screen-button:hover{
    background-color: var(--navbarBgColor);
}

.primary-button{
    background-color: var(--silverAqua);
    border: solid 2pt rgb(97, 98, 133);
}

.secondary-button{
    border: solid 2pt var(--silverAqua);
}

.account-input-field{
    width: 100%;
    background-color: var(--navbarBgColor);
    outline: none;
    border: solid 1pt gray;
    padding: 10pt;
    color: white;
    font-size: 12pt;
    margin-top: 10pt;
}





/* Featured Panel */





.featured-panel{
    height: 70vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    background-color: blue;
    background: transparent no-repeat center center;
    background-size: cover;
}