Loading Screen





#loadingScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.646);
    backdrop-filter: blur(10pt);
    -webkit-backdrop-filter: blur(10pt);
    z-index: 10;
}

#loadingScreen img{
    height: 30vh;
    width: 30vh;
    position: absolute;
    top: 35vh;
    left: calc(50vw - 15vh);
}





/* Navigation bar */





.navbar{
    height: 50pt;
    width: auto;
    background: linear-gradient(45deg, rgba(115, 54, 15, 0.75) 0%, rgba(77, 6, 58, 0.75) 100%);
    backdrop-filter: blur(50pt);
    -webkit-backdrop-filter: blur(50pt);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.main-navbar{
    z-index: 5;
}

.right-navbar{
    height: 50pt;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
    
.navbar-link-item{
    height: 15pt;
    margin: 5pt;
    padding: 10pt;
    border-radius: 10pt;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 13pt;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.active-navbar-link-item{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}





/* Media slider */





.media-slider-section{
    padding-top: 5rem;
    position: relative;
    top: 0;
    left: 0;
}

.media-slider-title-bar{
    width: fit-content;
    font-size: 1.25rem;
    padding-top: 5pt;
    padding-right: 10pt;
    padding-bottom: 5pt;
    margin: 5pt 0 5pt 2.5vw;
    cursor: default;
    transition: padding-left 200ms;
}

.clickable-title:hover{
    cursor: pointer;
    padding-left: 10pt;
    padding-right: 1vw;
    /* font-weight: 600; */
    text-decoration: underline;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.media-slider-carousel{
    font-size: 0;
    padding-left: 2vw;
}

.media-slider-object{
    height: 10.35vw;
    width: 18.4vw;
    border-radius: 1vw;
    margin: 0;
    margin-right: 1vw;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .media-slider-object {
        height: 26.71875vw;
        width: 47.5vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .media-slider-object {
        height: 17.6249998125vw;
        width: 31.3333333333vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .media-slider-object {
        height: 13.078125vw;
        width: 23.25vw;
    }
}

.view-progress-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: inherit;
    z-index: 0.5;
}

.view-progress-bar{
    height: 100%;
    /* max-width: calc(100vw - 1vw); */
    background-color: rgba(127, 127, 127, 0.4);
    border-right: solid 3pt rgb(255, 255, 255);
}





/* Media expand screen */





.expand-screen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.expand-screen-contents{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;
    transition-duration: 300ms;
    opacity: 0;
}

.close-screen-clicker{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.expand-panel{
    height: 95vh;
    width: 75vw;
    position: absolute;
    top: 5vh;
    left: 12.5vw;
    background: linear-gradient(45deg, rgba(115, 54, 15) 0%, rgba(77, 6, 58) 100%);
    overflow-y: scroll;
}

.expand-panel-topbar{
    height: 50pt;
    width: 75vw;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid 1pt gray; */
    backdrop-filter: blur(25pt);
    -webkit-backdrop-filter: blur(25pt);
    background-color: rgba(0, 0, 0, 0.25);
    /* background: linear-gradient(-135deg, rgba(39, 14, 19, 0.5) 0%, rgba(54, 25, 65, 0.5) 100%); */
    z-index: 1;
    border-bottom: solid 1pt gray;
}

.expand-panel-title{
    font-size: 15pt;
}

@media screen and (max-width: 800px) {
    .expand-panel{
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    .expand-panel-topbar{
        justify-content: right;
        height: 50pt;
        width: calc(100% - 15pt);
        justify-content: right;
        padding-right: 15pt;
    }
}

.close-panel-icon{
    height: 20pt;
    padding: 5pt;
    margin: 10pt;
    position: absolute;
    top: 0;
    left: 0;
}

.close-panel-icon:hover{
    background-color: red;
}

#tvPanelNavbarContents{
    position: sticky;
    top: 50pt;
    z-index: 1;
    margin-bottom: 10pt;
    padding: 5pt;
}

.expand-panel-impression-image{
    height: 70vh;
    width: 100%;
    position: relative;
    background: transparent no-repeat center;
    background-size: cover;
}

.expand-panel-contents{
    height: auto;
    width: 100%;
}

.list{
    padding-bottom: 15vh;
}

.listItemChoice{
    height: 50pt;
    position: relative;
    cursor: default;
    padding: 10pt;
    cursor: pointer;
    transition: height 300ms;
    border-bottom: solid 1pt rgb(0, 0, 0);
}

.listItemTitle{
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 17pt;
    max-width: 70%;
}

.listItemLabel{
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    max-width: 20%;
    font-weight: 300;
}

.listItemImageFrame{
    height: calc(100% - 20pt);
    min-width: 80pt;
    display: inline-block;
    background: transparent no-repeat center;
    background-size: cover;
    margin-right: 10pt;
    border-radius: 5pt;
    border: solid 1pt rgb(255, 255, 255);
}

.action-button-container{
    height: 70pt;
    width: 100%;
    /* background-color: rgb(54, 35, 80); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-button{
    width: fit-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(25pt);
    -webkit-backdrop-filter: blur(25pt);
    font-size: 15pt;
    padding: 10pt;
    border: solid 1.5pt white;
    cursor: pointer;
    border-radius: 5pt;
    margin: 10pt;
}

.filled-activity-button{
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1.5pt rgba(255, 255, 255, 0);
    color: black;
}

.activity-button:hover{
    background-color: var(--violetBlue);
    color: white;
    border: solid 1.5pt white;
}

.absolute{
    position: absolute;
}

.top{
    top: 0;
}

.bottom{
    bottom: 0;
}





/* Search bar */





#searchBar{
    height: 50pt;
    width: 90%;
    margin: 5vh 5vw 5vh 5vw;
    background-color: var(--violetBlue);
    padding: 20pt;
    outline: none;
    font-size: 20pt;
    font-family: var(--mainFont);
    color: white;
    border-radius: 15pt;
    border: none;
    transition: padding-left 300ms, box-shadow 300ms;
    border: solid 2pt gray;
}

#searchBar::placeholder{
    font-size: 20pt;
    font-family: var(--mainFont);
    color: rgb(189, 189, 189);
}

#searchBar:focus{
    border: solid 2pt white;
    padding-left: 30pt;
}





/* Use account prompt */





.screen-card{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-card-content{
    padding: 25pt 0 25pt 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-background{
    backdrop-filter: blur(10pt);
    -webkit-backdrop-filter: blur(10pt);
}

.panel-card{
    width: 30vw;
    background-color: var(--navbarBgColor);
    padding: 25pt;
    border-radius: 10pt;
}

@media screen and (max-width: 700px) {
    .panel-card{
        width: calc(100vw - 50pt);
        border-radius: 0;
    }
}

.panel-card .title{
    font-size: 20pt;
    border-bottom: solid 1pt gray;
    padding-bottom: 10pt;
    margin-bottom: 10pt;
}

.horizontal-screen-button{
    color: white;
    font-family: var(--mainFont);
    background: none;
    margin: 10pt auto 0 auto;
    text-align: center;
    font-size: 12pt;
    padding: 5pt;
    cursor: pointer;
}

.horizontal-screen-button:hover{
    background-color: var(--navbarBgColor);
}

.primary-button{
    background-color: var(--silverAqua);
    border: solid 2pt rgb(97, 98, 133);
}

.secondary-button{
    border: solid 2pt var(--silverAqua);
}

.account-input-field{
    width: 100%;
    background-color: var(--navbarBgColor);
    outline: none;
    border: solid 1pt gray;
    padding: 10pt;
    color: white;
    font-size: 12pt;
    margin-top: 10pt;
}





/* Featured Panel */





.featured-panel-container{
    min-height: 40vh;
    height: 40vw;
    max-height: 75vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
}

.featured-panel-impression-image{
    height: 100%;
    width: 100%;
    background: transparent no-repeat center center;
    background-size: cover;
}

.featured-panel-utility{
    height: auto;
    width: fit-content;
    padding: 10pt;
    border-radius: 20pt;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10pt);
    -webkit-backdrop-filter: blur(10pt);
}

.featured-panel-utility .title{
    margin: 10pt 10pt 0 10pt;
    font-size: 2rem;
    font-weight: 600;
}