<style>
    .top-bar{
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 10;
        background: var(--vibe-gradient);
    }

    .top-bar .button-side{
        height: 100%;
        position: absolute;
        top: 0;
        font-size: 0;
    }

    .button-side.left{
        left: 10pt;
    }

    .button-side.right{
        right: 10pt;
    }

    .button-side img{
        height: calc(100% - 20pt);
        aspect-ratio: 1 / 1;
        padding: 6pt;
        margin: 4pt 2pt;
        display: inline-block;
        border-radius: 6pt;
        cursor: pointer;
    }

    .button-side img:hover{
        background: rgb(25 0 20);
    }

    .top-bar .center{
        height: 18pt;
        width: fit-content;
        padding: 10pt;
        margin: auto;
        display: flex;
        align-items: center;
        font-size: 15pt;
        font-weight: 400;
        cursor: default;
    }

    .top-bar .center img{
        height: 100%;
        margin-right: 5pt;
    }
</style>

<div class="top-bar">

    <div class="left button-side">
        <img class='menu-icon' src='images/menu.png'>
    </div>

    <div class="center" onclick='window.location.reload()'>
        <img src="images/logo.png" alt="Logo">
        baileo
    </div>

    <div class="right button-side">
        <img class='menu-icon' src='images/search.png'>
        <img class='menu-icon' src='images/profile.png'>
    </div>

</div>