<style>
    #tvPanel{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 100vh;
        left: 0;
        opacity: 0;
        z-index: 15;
        background: rgb(20, 10, 20, 0.8);
        transition: top 300ms, opacity 300ms;
    }

    #tvPanel .display-image{
        position: absolute;
        top: 10%;
        left: 10%;
        height: 80%;
        width: 80%;
        background: url('images/display images/The Office.png') center center no-repeat;
        background-size: cover;
    }

    #tvPanel .contents{
        position: absolute;
        top: 10%;
        left: 10%;
        height: 80%;
        width: 80%;
        background: rgb(20, 10, 20, 0.7);
        overflow: scroll;
    }

    #tvPanel .season-selector{
        padding: 10pt;
        background: rgb(15 15 15);
    }

    #tvPanel .season-selector .item{
        font-size: 12pt;
        padding: 5pt 10pt;
        cursor: pointer;
    }

    #tvPanel .season-selector .item:hover{
        color: var(--accent);
    }

    #tvPanel .season-selector .item.active{
        text-decoration: underline;
        text-underline-offset: 5pt;
        text-decoration-thickness: 1pt;
        color: var(--accent);
    }

    #tvPanel .episode-selector .item{
        padding: 15pt;
        font-size: 0;
    }

    #tvPanel .episode-selector .item:hover{
        background: rgb(20, 10, 20, 0.7);
        color: var(--accent);
    }

    #tvPanel .episode-selector .item *{
        display: inline-block;
        font-size: 12pt;
    }

    #tvPanel .episode-selector .item .left{
        width: 80%;
    }

    #tvPanel .episode-selector .item .right{
        width: 20%;
        text-align: right;
        color: lightgray;
    }
</style>

<div id='tvPanel'>
    <div class="display-image"></div>

    <div class="contents">
        <!-- Borrowed from "top bar" component -->
        <div class="top-bar">
            <div class="left button-side">
                <img class='menu-icon' src='images/close.png' onclick='tvPanel.retract()'>
            </div>
            <div class="center main-title">
                Default Title
            </div>
            <!-- <div class="right button-side">
                <img class='menu-icon' src='images/search.png'>
                <img class='menu-icon' src='images/more.png'>
            </div> -->
        </div>

        <div class="season-selector x-scroll">
            <div class="item active">Season 1</div>
            <div class="item">Season 2</div>
            <div class="item">Season 3</div>
            <div class="item">Season 4</div>
            <div class="item">Season 5</div>
            <div class="item">Season 6</div>
            <div class="item">Season 7</div>
            <div class="item">Season 8</div>
            <div class="item">Season 9</div>
        </div>

        <div class="episode-selector">
        </div>
    </div>
    
</div>