@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Mulish&family=Satisfy&family=Staatliches&display=swap');

#viewerBody{
    background-color: black;
}

body{
    background-color: #57068c;
    padding-bottom: 0;
}

h1{
    text-align: center;
    padding: 0;
    margin: 40pt 0 40pt 0;
}

video{
    width: 100vw;
    height: 56.25vw;
    position: relative;
    top: 0;
    left: 0;
}

#searchBar{
    height: 40pt;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.cover-image-button{
    height: 50vw;
    width: 90vw;
    margin: 0 0 20vw 5vw;
    box-shadow: 0 0 10vw 0 black;
}

.cover-image-button:hover{
    height: 50vw;
    width: 90vw;
    margin: 0 0 20vw 5vw;
}

.cover-image-button-moreinfo{
    height: 10vw;
    width: 92vw;
    opacity: 1;
    font-size: 7vw;
    position: relative;
    top: 50vw;
    left: -5vw;
    padding: 2vw 4vw 8vw 4vw;
    background-color: none;
    background: none;
    display: block;
    text-align: center;
}

#more-info-navbar{
    min-height: 50pt;
}

.seasonEpisodesList{
    width: calc(100% - 20pt);
    padding-left: 20pt;
}

.seasonEpisodesList ol{
    width: 100%;
    margin-left: 0%;
}

.seasonEpisodesList ol li{
    padding: 10pt;
    font-size: 20pt;
    color: rgb(193,193,193);
    border-left: solid 0px rgba(255,0,0,0);
    cursor: default;
    transition: border 0, padding-left 0;
}

.panel{
    width: 84vw;
    padding: 4vw;
    margin: 4vw;
    border-radius: 5vw;
}

.moreinfo-caption{
    display: block;
    font-size: 12pt;
    font-weight: 500;
}

.navbar{
    background-color: black;
}

#tvShowsCollection{
    background-color: none;
}

#moviesCollection{
    background-color: rgba(0,0,0,.25);
}

select{
    height: 30pt;
    background-color: rgba(40,40,40,1);
    border: none;
    border-radius: 10pt;
    font-size: 15pt;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    outline: none;
}

#mobile-video-player-ui-topbar{
    height: 50pt;
    width: 100vw;
    background-color: rgba(47,47,47,1);
    z-index: 100;
}

.back-viewer-button{
    height: 15pt;
    width: 20pt;
    padding: 7.5pt 10pt 7.5pt 10pt;
    border: none;
    background-color: rgba(167,0,0,1);
    border-radius: 0;
    position: absolute;
    top: 10pt;
    left: 10pt;
    cursor: pointer;
    z-index: 7;
    border-radius: 5pt;
}

.back-viewer-button:hover{
    border: none;
    background-color: red;
}

.baileo-title-text{
    position: absolute;
    top: 0;
    right: 0;
    height: 50pt;
    padding-right: 10pt;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 30pt;
    font-family: 'Staatliches', cursive;
    color: white;
}

#video-player-ui{
    display: none;
}

#moreinfo-video-player-ui{
    height: auto;
    width: calc(100vw - 40pt);
    background-color: rgba(47,47,47,1);
    z-index: 100;
    padding: 20pt;
    min-height: 50vh;
    position: relative;
    top: 0;
    left: 0;
}

#moreinfo-video-player-title{
    font-size: 35pt;
    font-weight: 900;
}

#moreinfo-video-player-caption{
    font-size: 15pt;
    font-weight: 700;
    margin-top: 5pt;
}

#moreinfo-video-player-description{
    font-size: 12pt;
    font-weight: 500;
    margin-top: 15pt;
    padding-top: 15pt;
    border-top: solid 1px white;
    line-height: 1.5;
}
