.image-shader:hover{
    opacity: 1;
}

.media-slider-object:hover{
    position: relative;
    top: -5pt;
    opacity: 1;
    outline: solid 3pt var(--popBorder);
}

.toggle-left-navbar-button:hover{
    /* height: 15pt; */
    /* margin: 2.5pt 5pt 2.5pt 5pt; */
    opacity: 1;
}