@font-face {
    font-family: 'BaileyScript';
    src: url('BaileyScript/BaileyScript.ttf');
}

:root {
    --contrast: #F1F1F1;
    --theme: #1b1b1b;
    --accent: #80DCB7;
    --main: #FF8F00;
    --main2: #F6AE2D;
}

body{
    margin: 0;
    color: white;
    background-color: black;
    font-weight: 400;
    font-family: BaileyScript;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

#video{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 0;
}

#video-player-ui{
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 50%);
    z-index: 5;
}

.screen-clicker{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#video-player-banner{
    position: absolute;
    bottom: 60pt;
    left: 5vw;
}

#videoTitle{
    font-size: 30pt;
    font-weight: 600;
    max-width: 45vw;
}

#videoCaption{
    font-size: 20pt;
    font-weight: 400;
    max-width: 45vw;
}

#pauseIcon{
    height: 10vh;
    width: 10vh;
    position: absolute;
    top: 45vh;
    left: calc(50vw - 5vh);
    z-index: 10;
}

#progress-bar{
    height: 50pt;
    position: absolute;
    bottom: 0;
    left: 5vw;
    width: calc(100vw - 10vw);
    cursor: default;
}

#current-progress{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 100vh;
}

#progress-scroll{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: rgba(255,255,255,.75);
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    display: none;
}

#progress-bar:hover #possible-progress{
    height: 10pt;
    bottom: 40pt;
}

#progress-bar:hover #video-time-watched{
    top: 15pt;
}

#progress-bar:hover #video-time-total{
    top: 15pt;
}

#progress-bar:hover #current-progress{
    display: none;
}

#progress-bar:hover #progress-scroll{
    display: block;
}

#progress-bar:hover #progress-scroll #videoScroll{
    display: block;
}

#possible-progress{
    position: absolute;
    bottom: 45pt;
    left: 0;
    height: 5pt;
    width: 100%;
    background-color: rgb(68,68,68);
    transition: height 200ms, bottom 200ms;
    border-radius: 100vh;
}

#video-player-ui{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms;
}

#video-time-watched{
    position: absolute;
    top: 10pt;
    left: 0;
    transition: top 200ms;
    font-size: 12pt;
}

#video-time-total{
    position: absolute;
    top: 10pt;
    right: 0;
    transition: top 200ms;
    font-size: 12pt;
}

#video-time-scroll{
    position: absolute;
    height: 20pt;
    width: 10vw;
    text-align: center;
    bottom: 20pt;
    right: -5vw;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

#videoScroll{
    position: absolute;
    bottom: 40pt;
    right: -7.5vw;
    width: 15vw;
    text-align: center;
    font-size: 12pt;
    display: none;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

#viewer-ui-toolbar{
    position: absolute;
    bottom: 60pt;
    right: 5vw;
    max-width: 45vw;
}

.viewer-toolbar-item{
    height: 20pt;
    width: 20pt;
    padding: 10pt;
    display: inline-block;
    border-radius: 10pt;
    border: solid 1pt rgba(255, 255, 255, 0);
    transition: width 200ms, height 200ms, padding 200ms;
}

.viewer-toolbar-item:hover{
    height: 30pt;
    width: 30pt;
    padding: 5pt;
}

#leftUpdateBubbleContainer{
    height: 15vh;
    width: 30vw;
    position: absolute;
    top: 42.5vh;
    left: 0;
}

#rightUpdateBubbleContainer{
    height: 15vh;
    width: 30vw;
    position: absolute;
    top: 42.5vh;
    right: 0;
}

.update-bubble{
    height: 10vh;
    width: 10vh;
    color: white;
    position: absolute;
    top: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-weight: 700;
    padding: 2.5vh;
}

.left-bubble{
    position: absolute;
    right: 0;
    transition-duration: 500ms;
}

.right-bubble{
    position: absolute;
    left: 0;
    transition-duration: 500ms;
}

#loadingScreen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
}

#loadingScreen img{
    height: 20vh;
    width: 20vh;
    position: absolute;
    top: 40vh;
    left: calc(50vw - 10vh);
}

.loading-progress-bar{
    height: 1vh;
    width: 25vw;
    position: absolute;
    top: 65vh;
    left: 37.5vw;
    border-bottom: solid 1pt white;
    border-top: solid 1pt white;
}

#loadingProgressBarStatus{
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);;
}

#nextEpisodePrompt{
    background-color: rgb(243, 56, 56);
    position: absolute;
    bottom: 120pt;
    right: 60pt;
    z-index: 15;
    font-size: 18pt;
    padding: 10pt;
    background: linear-gradient(45deg, rgb(113, 8, 29) 0%, rgb(66, 12, 86) 100%);
    cursor: pointer;
    border-radius: 10pt;
}

#nextEpisodePrompt:hover{
    background: linear-gradient(45deg, rgb(80, 8, 113) 0%, rgb(12, 24, 86) 100%);
}