.left-navbar{
    left: -200pt;
}

.main-content{
    width: 100vw;
    left: 0;
}

.media-slider-object{
    height: 100pt;
}

.expand-panel{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.expand-panel-topbar{
    height: 50pt;
}

.expand-panel-navbar{
    top: 50pt;
}

.close-panel-icon{
    height: 15pt;
    padding: 7.5pt;
    margin: 10pt;
}

.panel-card{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}