.navbar.svelte-vvgul{padding:15pt 0;text-align:center}.icon.svelte-vvgul{width:25pt;padding:7pt;border-radius:10pt;margin-bottom:15pt}.icon.active.svelte-vvgul{background:var(--hover-bg);box-shadow:inset 0 -2pt 0 0 var(--accent)}.icon.svelte-vvgul:hover{background:var(--hover-bg)}:root{
    --darker-bg: rgb(25 25 25);
    --lighter-bg: rgb(35 35 35);
    --hover-bg: rgb(50 50 50);
    --accent: rgb(140, 0, 255);
    --dark-accent: rgb(16, 2, 25);
}

@font-face {
    font-family: BaileyScript;
    src: url('/_app/immutable/assets/ReadexPro-VariableFont_HEXP_wght.31dbacc4.ttf');
}

body{
    margin: 0;
    background: var(--lighter-bg);
    color: white;
    font-family: BaileyScript;
    font-weight: 400;
    overflow: hidden;
}.app.svelte-15vbcl0{height:100vh;width:100vw;font-size:0}.hemisphere.svelte-15vbcl0{height:100vh;float:left;font-size:12pt;overflow:auto}:root{--navbar-width:50pt}.left.svelte-15vbcl0{width:var(--navbar-width)}.right.svelte-15vbcl0{width:calc(100vw - var(--navbar-width));background:var(--darker-bg)}