.desktop-navbar{
    display: none;
}
.mobile-navbar{
    display: flex;
}

#mobileNavbarDropMenu{
    height: calc(100vh - 40pt);
    width: 100vw;
    position: absolute;
    top: 40pt;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5pt);
    -webkit-backdrop-filter: blur(5pt);
    display: none;
    z-index: 90;
}

#mobileNavbarDropMenu div{
    height: auto;
    width: 100%;
    background-color: lightgray;
    padding: 5pt 0 5pt 0;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

#mobileNavbarDropMenu div a{
    height: 15pt;
    width: 90%;
    padding: 5pt 0 5pt 0;
    margin: 10pt 5% 10pt 5%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5pt;
    border: solid 2pt gray;
    float: none;
}

#mobileNavbarDropMenu div a:hover{
    background-color: rgb(87, 87, 87);
    color: white;
}

#mobileNavbarDropMenu div .active-navbar-link-item{
    background-color: var(--darkPlum);
    color: rgb(255, 255, 255);
    border-color: var(--darkPlum);
}

.close-menu-clicker{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

.image-shader{
    display: none;
}

.expand-panel{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.expand-panel-topbar{
    justify-content: right;
    height: 50pt;
    width: calc(100% - 15pt);
    justify-content: right;
    padding-right: 15pt;
}

.panel-card{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}