#wallpaper{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    /* background: linear-gradient(30deg, rgb(22, 15, 31) 0%, rgb(32, 23, 37) 50%, rgb(17, 16, 17) 100%); */
    background: linear-gradient(30deg, rgb(43, 21, 21) 0%, rgb(47, 30, 30) 50%, rgb(22, 21, 21) 100%);
    z-index: -100;
}

.expand-panel-wrapper{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.6);
}

.expand-panel{
    height: 80vh;
    width: 80vw;
    position: absolute;
    top: 10vh;
    left: 10vw;
    background-color: var(--onyx);
}

@media screen and (hover: none) and (pointer: coarse) {
    .expand-panel{
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
    }
}

.expand-panel .top-bar{
    height: 50pt;
    background-color: var(--raisinBlack);
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-panel .top-bar .close-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 15pt;
    padding: 5pt;
    margin: 12.5pt;
    border-radius: 5pt;
}

.expand-panel .top-bar .close-icon:hover{
    background-color: rgb(247, 68, 68);
}

.expand-panel .top-bar .season-display{
    position: absolute;
    top: 0;
    right: 0;
    height: 15pt;
    padding: 5pt;
    margin: 12.5pt;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: black;
    outline: solid 1pt gray;
    font-weight: 300;
}

.expand-panel .contents .action-utilities{
    height: 50pt;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-panel .contents .action-utilities .button{
    background-color: rgb(64, 64, 64);
    font-size: 12pt;
    padding: 5pt;
    margin: 5pt;
    border-radius: 5pt;
}


#expandPanelTitle{
    font-size: 15pt;
}