.left-navbar{
    left: -250pt;
}

.content{
    width: 100vw;
    left: 0;
}

.image-shader{
    display: none;
}

.expand-panel{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.expand-panel-topbar{
    justify-content: right;
    height: 50pt;
    width: calc(100% - 15pt);
    justify-content: right;
    padding-right: 15pt;
}

.panel-card{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}