.media-slider-object{
    height: 75pt;
    width: 130pt;
    border-radius: 3pt;
    margin: 4pt;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
    position: relative;
    font-size: 0;
    transition: margin 1s, width 500ms;
}

.expand-panel{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

.expand-panel-topbar{
    height: 50pt;
}

.expand-panel-navbar{
    top: 50pt;
}

.close-panel-icon{
    height: 15pt;
    padding: 7.5pt;
    margin: 10pt;
}

.panel-card{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}