:root{
    --seafoam: #80DCB7;
    --aqua: #13335c;
    --darkAqua: rgb(18, 18, 47);
    --silverAqua: rgb(40, 55, 93);
    --princeton: #FF8F00;
    --honey: #F6AE2D;
    --violetBlue: rgb(54, 54, 105);
    --lightPistachio: #9AB9AC;
    --vanillaCream: #E5D9BE;
    --softLightBlue: #91A7CF;
    --burntOrange: #BC6039;
    --silkyPurple: #7B6380;
    --darkPlum: #24105C;
    --royalPurple: #51284a;
    --spruceLeaves: #2C494B;
    --toyPurple: rgb(178, 129, 246);
    --lilyBlue: rgb(197, 171, 254);
    --blueRaspberry: #20427A;
    --grapeTaffy: #5E468B;
    --spacePurple: rgb(38, 25, 56);
    --plutoBlue: rgb(33, 35, 52);
    --charcoal: rgb(21,21,23);
    --lavendarBlush: #EEE5E9;
    --grannySmithApple: #9CD08F;
    --asparagus: #87A461;
    --raisinBlack: #443a51;
    --tumbleweed: #F4B393;
    --lightSalmon: #FDA579;
    --teaGreen: #C5DBBC;
    --olivine: #92BA78;
    --boldOlivine: #71905c;
    --darkOlivine: #4f5f44;
    /* --onyx: rgb(2, 28, 28); */
    --onyx: rgb(32,32,33);
    /* --onyx: #18181b; */

    --accentColor: var(--grapeTaffy);
    --popBorder: var(--toyPurple);

    --mainFont: BaileyScript;

    --left: 175pt;
    --top: 50pt;
}

@font-face {
    font-family: 'BaileyScript';
    src: url('BaileyScript/BaileyScript.ttf');
}

@font-face {
    font-family: 'BaileyInter';
    src: url('BaileyScript/Inter.ttf');
}

body{
    margin: 0;
    background-color: var(--onyx);
    font-family: var(--mainFont);
    color: white;
    font-weight: 500;
    visibility: hidden;
    overflow: hidden;

    display: grid;
    grid-template-columns: var(--left) calc(100vw - var(--left));
    grid-template-rows: var(--top) calc(100vh - var(--top));
}

.module{
    display: inline-block;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 0.5vw;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}





/* Top Navbar */





.module.top{
    position: sticky;
    top: 0;

    grid-column-start: 1;
    grid-column-end: 3;

    background-color: var(--charcoal);
    box-shadow: 0 0 10pt 0 var(--onyx);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 5pt;
}

.top.module .logo{
    height: 30pt;
}

.top.module .logo-title{
    font-size: 17pt;
    padding-left: 5pt;
    color: rgba(0,0,0,0);

    background: linear-gradient(-45deg, rgb(192, 64, 192), var(--toyPurple));
    background-clip: text;
    -webkit-background-clip: text;
}




/* Left Navbar */




.module.left{
    background-color: var(--charcoal);
    padding: 10pt;
}

.module.left .item{
    padding: 10pt;
    display: flex;
    align-items: center;
    cursor: default;
    border-radius: 5pt;
}

.module.left .item.active{
    color: var(--toyPurple);
}

.module.left .item:hover{
    background-color: var(--onyx);
}

.module.left .icon{
    height: 18pt;
    width: 18pt;
    margin-right: 10pt;
}

.module.left .section-title{
    padding: 10pt;
    cursor: default;
    color: gray;
    text-align: center;
}




/* Main Content */




.module.right{
    overflow: scroll;
}

#mediaSelectorWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200pt, 1fr));
    padding: 15pt;
    gap: 5pt;
}

.media-display-object{
    display: inline-block;
    font-size: 12pt;
    padding: 15pt;
    border-radius: 5pt;
    opacity: 0.9;
}

.media-display-object:hover{
    background-color: var(--charcoal);
    opacity: 1;
    z-index: 100;
    transition: box-shadow 500ms ease 2s, outline 0ms ease 2s, border-radius 0ms ease 2s;
    box-shadow: 0 0 1000pt 500pt black;
    outline: solid 1pt gray;
    border-radius: 0;
}

.media-display-object:hover .image{
    box-shadow: 0 0 15pt 0 var(--onyx);
}

.media-display-object .image{
    aspect-ratio: 16 / 9;
    background: url('../images/thumbnails/americanpsycho.jpg') center center no-repeat;
    background-size: cover;
    border-radius: inherit;
    transition: box-shadow 200ms;
    box-shadow: 0 0 0pt 0 var(--onyx);
}

.media-display-object .data{
    width: 100%;
}

.media-display-object .title{
    font-size: 13pt;
    font-weight: 500;
    padding-top: 5pt;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.media-display-object .caption{
    font-size: 11pt;
    font-weight: 400;
    color: gray;
}



/* Expand Panel */
#expandScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

#expandPanel{
    height: 80%;
    width: 80%;
    background-color: rgba(32,32,33, 0.75);
    backdrop-filter: blur(15pt);
    -webkit-backdrop-filter: blur(15pt);
    box-shadow: 0 0 5vh 0 black;
    border-radius: 10pt;
    overflow: hidden;

    display: grid;
    grid-template-columns: 150pt calc(100% - 150pt);
    grid-template-rows: 40pt calc(100% - 40pt);
}

#expandPanel .display-bar{
    background-color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1pt gray;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.close-expand-panel{
    position: absolute;
    top: 0;
    left: 0;
    height: 20pt;
    padding: 5pt;
    margin: 5pt;
    border-radius: 7pt;
    cursor: default;
}

.close-expand-panel:hover{
    background-color: var(--royalPurple);
}

#expandPanel .season-selector{
    text-align: center;
    background: var(--charcoal);
    overflow: auto;
}

#expandPanel .season-selector .item{
    padding: 10pt;
    cursor: default;
}

#expandPanel .season-selector .item.active{
    color: var(--toyPurple);
}

#expandPanel .season-selector .item:hover{
    background-color: var(--onyx);
}

#expandPanel .episode-display{
    overflow: auto;
}

#expandPanel .episode-display .item{
    height: 50pt;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: default;
}

#expandPanel .episode-display .item:hover{
    background-color: var(--charcoal);
}

#expandPanel .episode-display .item .title{
    width: 80%;
    font-size: 15pt;
    text-align: left;
    padding-left: 2.5%;
}

#expandPanel .episode-display .item .label{
    width: 15%;
    font-size: 10pt;
    text-align: right;
    padding-right: 2.5%;
    color: rgb(172, 172, 172);
}