:root{
    --seafoam: #80DCB7;
    --aqua: #13335c;
    --darkAqua: rgb(18, 18, 47);
    --silverAqua: rgb(40, 55, 93);
    --princeton: #FF8F00;
    --honey: #F6AE2D;
    --violetBlue: rgb(54, 54, 105);
    --lightPistachio: #9AB9AC;
    --vanillaCream: #E5D9BE;
    --softLightBlue: #91A7CF;
    --burntOrange: #BC6039;
    --silkyPurple: #7B6380;
    --darkPlum: #24105C;
    --royalPurple: #51284a;
    --spruceLeaves: #2C494B;
    --toyPurple: rgb(178, 129, 246);
    --lilyBlue: rgb(197, 171, 254);
    --blueRaspberry: #20427A;
    --grapeTaffy: #5E468B;
    --spacePurple: rgb(38, 25, 56);
    --plutoBlue: rgb(33, 35, 52);
    --charcoal: rgb(21,21,23);
    --lavendarBlush: #EEE5E9;
    --grannySmithApple: #9CD08F;
    --asparagus: #87A461;
    --raisinBlack: #443a51;
    --tumbleweed: #F4B393;
    --lightSalmon: #FDA579;
    --teaGreen: #C5DBBC;
    --olivine: #92BA78;
    --boldOlivine: #71905c;
    --darkOlivine: #4f5f44;
    --onyx: rgb(32,32,33);

    --accentColor: var(--grapeTaffy);
    --popBorder: var(--toyPurple);

    --mainColor: rgb(15, 4, 36);
    --secondColor: rgb(36, 18, 61);

    --mainFont: BaileyScript;
    --top-navbar-height: 50pt;
    --left-navbar-width: 150pt;
}


@font-face {
    font-family: 'BaileyScript';
    src: url('BaileyScript/BaileyScript.ttf');
}


body{
    margin: 0;
    background-color: var(--mainColor);
    font-family: var(--mainFont);
    color: white;
    font-weight: 500;
}


.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}




/* Navbar */



.navbar{
    position: sticky;
    top: 0;

    z-index: 10;
}


/* Top */

.navbar .top{
    height: 40pt;
    width: calc(100vw - 20pt);
    background-color: var(--secondColor);
    padding: 0 10pt;
    display: flex;
    align-items: center;
}

.navbar .top .logo{
    height: 25pt;
}

.navbar .top .logo-title{
    font-size: 14pt;
    padding-left: 5pt;
    color: rgba(0,0,0,0);

    background: linear-gradient(-45deg, rgb(192, 64, 192), var(--toyPurple));
    background-clip: text;
    -webkit-background-clip: text;
}

.navbar .top.right{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    justify-content: right;
    background: none;
}

.navbar .top.right .icon{
    height: 20pt;
    padding: 5pt;
    margin: 2pt;
    border-radius: 5pt;
}

.navbar .top.right .search-bar{
    width: 20vw;
    max-width: 50vw;
    padding: 7pt;
    margin: 2pt;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 5pt;
    display: none;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/* Cards */

.navbar .cards{
    font-size: 10pt;
    padding: 7pt;
    background-color: var(--mainColor);
    position: relative;
}

.navbar .cards div{
    display: inline-block;
}

.navbar .cards .item{
    padding: 8pt;
    margin: 0 2pt;
    cursor: default;
    border-radius: 100vh;
    color: rgb(164, 164, 164);
}

.navbar .cards .item.active{
    background-color: var(--grapeTaffy);
    color: white;
}




/* Main Content */



.content{
    overflow: scroll;
}


.content .featured-panel{
    height: 70vh;
    width: 100%;
    background-color: black;
    position: relative;
}

.featured-panel .image{
    height: 100%;
    width: 100%;
    background: url('../images/cover-image/Minions\ the\ Rise\ of\ Gru.jpeg') center center no-repeat;
    background-size: cover;
}


#mediaSelectorWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175pt, 1fr));
    
    padding: 10pt;
}

.media-display-object{
    display: inline-block;
    font-size: 12pt;
    padding: 15pt;
    border-radius: 5pt;
    opacity: 0.9;
}

.media-display-object .image{
    aspect-ratio: 16 / 9;
    background: url('../images/thumbnails/americanpsycho.jpg') center center no-repeat;
    background-size: cover;
    border-radius: inherit;
    transition: box-shadow 200ms;
    box-shadow: 0 0 0pt 0 var(--mainColor);
}

.media-display-object .data{
    width: 100%;
}

.media-display-object .title{
    font-size: 13pt;
    font-weight: 500;
    padding-top: 5pt;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.media-display-object .caption{
    font-size: 11pt;
    font-weight: 400;
    color: gray;
}




/* Expand Panel */



#expandScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#expandPanel{
    height: 90%;
    width: 90%;
    background-color: rgba(32,32,33, 0.75);
    backdrop-filter: blur(15pt);
    -webkit-backdrop-filter: blur(15pt);
    box-shadow: 0 0 5vh 0 black;
    border-radius: 10pt;
    overflow: scroll;
    scroll-behavior: smooth;

    transition: top 400ms;
    position: relative;
    top: 100vh;
}

#expandPanel .display-bar{
    height: 40pt;
    background-color: rgba(32,32,33, 0.75);
    backdrop-filter: blur(15pt);
    -webkit-backdrop-filter: blur(15pt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.close-expand-panel{
    position: absolute;
    top: 0;
    left: 0;
    height: 20pt;
    padding: 5pt;
    margin: 5pt;
    border-radius: 7pt;
    cursor: default;
}

#expandPanel .season-selector{
    background-color: var(--secondColor);
    display: flex;
    align-items: center;
    border-bottom: solid 1pt gray;
    padding: 5pt;
    position: sticky;
    top: 40pt;
}

#expandPanel .season-selector .item{
    cursor: default;
    display: inline-block;
    padding: 10pt;
    border-radius: 5pt;
    color: lightgray;
    font-weight: 400;
}

#expandPanel .season-selector .item.active{
    color: var(--toyPurple);
}

#expandPanel .image-showcase-wrapper{
    height: 60vh;
    width: 100%;
    transition: height 1s;
}

#expandPanel .image-showcase{
    height: 100%;
    width: 80%;
    margin: auto;
    background: inherit;
    box-shadow: 0 0 20vw 10vw black;
}

#expandPanel .episode-display{
    width: 100%;
    overflow: auto;
}

#expandPanel .episode-display .item{
    height: 50pt;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: default;
}

#expandPanel .episode-display .item .title{
    width: calc(80% - 20pt);
    font-size: 15pt;
    text-align: left;
    padding-left: 20pt;
}

#expandPanel .episode-display .item .label{
    width: calc(20% - 20pt);
    font-size: 10pt;
    text-align: right;
    padding-right: 20pt;
    color: rgb(172, 172, 172);
}




/* Expand Click Menu */



#expandClickMenuWrapper{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
}

#expandClickMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    background-color: rgba(32,32,33, 0.75);
    backdrop-filter: blur(15pt);
    -webkit-backdrop-filter: blur(15pt);
    box-shadow: 0 0 50pt 0 black;
    border-radius: 5pt;

    transition: opacity 300ms, padding 300ms, filter 300ms;
    opacity: 0;
    filter: blur(5pt);
}

#expandClickMenu .title{
    font-size: 15pt;
    font-weight: 600;
    padding: 7pt;
    margin-bottom: 7pt;
    border-bottom: solid 1pt gray;
}

#expandClickMenu .button{
    padding: 7pt;
    cursor: pointer;
    border-radius: inherit;
    color: lightgray;
}
