@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Mulish&family=Satisfy&family=Staatliches&display=swap');

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Satisfy', cursive; */
/* font-family: 'Staatliches', cursive; */

#viewerBody{
    background-color: black;
}

body{
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: black;
    font-weight: 500;
    padding-bottom: 10pt;
}

video{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: none;
    background: none;
}

h1{
    font-size: 40pt;
    font-weight: 700;
    margin: 0;
    padding: 30pt 0 10pt 2.5vw;
    text-outline: black;
    text-shadow: 1pt 1pt black;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .cover-image-button{
        height: 30vw;
        width: 45vw;
        margin: 2.5vw;
        box-shadow: 0 0 5vw 0 black;
    }
    .cover-image-button:hover{
        height: 31vw;
        width: 46vw;
        margin: 2vw;
    }
    .cover-image-button-moreinfo{
        font-size: 5vw;
    }
    #moreInfoTVWindow{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .panel{
        width: 44vw;
    }
    #more-info-title-bar{
        height: auto;
        min-height: 0;
        width: 100vw;
        z-index: 6;
        display: flex;
        align-items: center;
        margin-top: 45pt;
        padding: 20pt;
        font-size: 50pt;
        font-weight: 900;
    }
    .close-more-info-button{
        height: 15pt;
        width: 15pt;
        border: solid 2pt red;
        padding: 10pt;
        position: absolute;
        border-radius: 0;
        top: 5pt;
        left: 5pt;
        z-index: 7;
        border-radius: 20%;
    }
    .close-more-info-button:hover{
    }
    #continueTVProgressButton{
        height: 20pt;
        width: fit-content;
        padding: 10pt;
        position: absolute;
        top: 5pt;
        right: 5pt;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        z-index: 7;
        font-size: 15pt;
        font-weight: 500;
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .cover-image-button{
        height: 13vw;
        width: 22vw;
        margin: 1.5vw;
        box-shadow: 0 0 3vw 0 black;
    }
    .cover-image-button:hover{
        height: 14vw;
        width: 23vw;
        margin: 1vw;
    }
    .cover-image-button-moreinfo{
        font-size: 3vw;
    }
    #moreInfoTVWindow{
        height: 90vh;
        width: 80vw;
        position: fixed;
        top: 10vh;
        left: 10vw;
        box-shadow: 0 0 30pt 0 black;
        border-top-left-radius: 30pt;
        border-top-right-radius: 30pt;
    }
    .panel{
        width: 19vw;
    }
    #more-info-title-bar{
        min-height: 100pt;
        width: 100%;
        z-index: 6;
        display: flex;
        align-items: center;
        padding-left: 100pt;
        font-size: 50pt;
        font-weight: 900;
    }
    .close-more-info-button{
        height: 20pt;
        width: 20pt;
        border: solid 2pt rgb(144,51,249);
        padding: 10pt;
        border-radius: 100%;
        position: absolute;
        top: 30pt;
        left: 30pt;
        cursor: pointer;
        z-index: 7;
    }
    .close-more-info-button:hover{
        border: solid 2pt red;
    }
    #continueTVProgressButton{
        height: 20pt;
        width: auto;
        padding: 10pt;
        position: absolute;
        top: 30pt;
        right: 30pt;
        cursor: pointer;
        align-items: center;
        z-index: 7;
        font-size: 20pt;
        font-weight: 700;
        display: none;
    }
}

.buttonMoveRightAnimation{
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 5pt rgb(144,51,249);
    z-index: 5;
    opacity: 0;
    transition: width 200ms;
}

#continueTVProgressButton:hover .buttonMoveRightAnimation{
    width: 100%;
    opacity: 1;
}

.moreinfo-caption{
    display: none;
}

.navbar{
    height: 40pt;
    width: 100vw;
    background-color: rgba(24,24,24,0.75);
    font-size: 15pt;
    font-weight: 500;
    display: flex;
    align-items: center;
    backdrop-filter: blur(200pt);
    -webkit-backdrop-filter: blur(200pt);
}

.navbar-item{
    padding: 10pt;
    padding-bottom: 10pt;
    height: auto;
    width: fit-content;
    cursor: pointer;
    float: left;
    color: gray;
    z-index: 10;
}

.navbar-item:hover{
    border-bottom: solid 3pt white;
    padding-bottom: calc(10pt - 3pt);
    color: white;
}

.active-navbar-item{
    padding: 10pt;
    padding-bottom: 10pt;
    height: auto;
    width: fit-content;
    cursor: pointer;
    float: left;
    color: gray;
    z-index: 10;
    color: white;
}

#searchIcon{
    height: 20pt;
    padding: 10pt;
    transition: right 500ms;
    float: left;
}

#searchBar {
    height: 40pt;
    width: auto;
    background: none;
    background-color: rgb(48,48,48);
    border: none;
    padding-left: 10pt;
    outline: none;
    font-size: 15pt;
    font-weight: 500;
    color: white;
    border: none;
    float: left;
    display: none;
    z-index: 100;
}

.cover-image-button{
    background: transparent no-repeat center;
    background-size: cover;
    float: left;
}

.cover-image-button-moreinfo{
    height: 100%;
    width: 100%;
    color: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.45);
    font-weight: 900;
    opacity: 0;
    cursor: default;
    text-align: center;
}

.cover-image-button:hover .cover-image-button-moreinfo{
    opacity: 1;
}

#moreInfoTVWindow{
    background-color: rgb(27,27,27);
    z-index: 5;
    display: none;
    overflow-x: hidden;
}

#continue-watching-panel{
    height: 50vh;
    width: 100vw;
}

#more-info-navbar{
    height: auto;
    width: 100%;
    font-size: 15pt;
    font-weight: 500;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    padding-left: 10pt;
    padding-right: 10pt;
    background-color: rgb(41,41,41);
}

.more-info-navbar-item{
    padding: 10pt;
    padding-bottom: 10pt;
    height: auto;
    width: fit-content;
    cursor: pointer;
    float: left;
    color: gray;
    z-index: 10;
    white-space: nowrap;
}

.more-info-navbar-item:hover{
    border-bottom: solid 2px white;
    padding-bottom: calc(10pt - 2px);
    color: white;
}

.active-more-info-navbar-item{
    padding: 10pt;
    padding-bottom: 10pt;
    height: auto;
    width: fit-content;
    cursor: pointer;
    float: left;
    color: gray;
    z-index: 10;
    color: white;
    white-space: nowrap;
}

.seasonEpisodesList{
    height: auto;
    width: calc(100% - 40pt);
    padding-left: 40pt;
    padding-top: 10pt;
}

.seasonEpisodesList ol{
    margin: 0;
    padding-top: 0;
    padding-bottom: 1vw;
}

.seasonEpisodesList ol li{
    padding: 10pt;
    font-size: 30pt;
    font-weight: 900;
    color: rgb(193,193,193);
    border-left: solid 0px rgba(255,0,0,0);
    cursor: default;
    transition: border 100ms, padding-left 100ms;
}

.seasonEpisodesList ol li:hover{
    color: white;
    border-left: solid 10px white;
    padding-left: 15pt;
}

.back-viewer-button{
    height: 25pt;
    width: 25pt;
    border: solid 2pt rgb(144,51,249);
    padding: 0.625vw;
    border-radius: 100%;
    position: absolute;
    top: 20pt;
    left: 20pt;
    cursor: pointer;
    z-index: 7;
}

.back-viewer-button:hover{
    border: solid 2pt rgb(255,0,0);
    background-color: red;
}

.media-collection{
    width: 100vw;
    float: left;
}

#video-player-banner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    height: auto;
    width: 100vw;
}

#video-player-title{
    font-size: 50pt;
    font-weight: 900;
    text-align: center;
    padding: 10pt;
}

#video-player-caption{
    font-size: 20pt;
    font-weight: 500;
    text-align: center;
    padding: 10pt;
    padding-top: 0;
}

#pauseIcon{
    height: 10vh;
    width: 10vh;
    position: absolute;
    top: 45vh;
    left: calc(50vw - 5vh);
    z-index: 10;
    opacity: 0.7;
}

#progress-bar{
    position: absolute;
    bottom: 0;
    left: 5vw;
    height: 55pt;
    width: calc(100vw - 10vw);
    z-index: 3;
    cursor: default;
}

#progress-bar:hover #possible-progress{
    height: 10pt;
    bottom: 40pt;
}

#progress-bar:hover #video-time-watched{
    top: 15pt;
}

#progress-bar:hover #video-time-total{
    top: 15pt;
}

#current-progress{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: 5;
    border-radius: 100vh;
}

#progress-scroll{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: rgba(255,255,255,.73);
    z-index: 6;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
}

#possible-progress{
    position: absolute;
    bottom: 45pt;
    left: 0;
    height: 5pt;
    width: 100%;
    background-color: rgb(68,68,68);
    transition: height 200ms, bottom 200ms;
    z-index: 4;
    border-radius: 100vh;
}

#video-player-ui{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 500ms;
}

#video-time-watched{
    position: absolute;
    top: 10pt;
    left: 0;
    transition: top 200ms;
    font-size: 12pt;
}

#video-time-total{
    position: absolute;
    top: 10pt;
    right: 0;
    transition: top 200ms;
    font-size: 12pt;
}

#video-time-scroll{
    position: absolute;
    width: 100vh;
    text-align: center;
    bottom: 15pt;
    right: -50vh;
    font-size: 12pt;
}

#viewer-ui-toolbar{
    position: absolute;
    top: calc(100vh - 110pt);
    right: 5vw;
    z-index: 1000;
}

.viewer-toolbar-item{
    height: 25pt;
    width: 25pt;
    padding: 10pt;
    float: right;
    border-radius: 10pt;
}

.viewer-toolbar-item:hover{
    padding: 7.5pt;
    height: 30pt;
    width: 30pt;
    background-color: rgba(0,0,0,.5);
}

#nextEpisodeButton{
    height: auto;
    width: fit-content;
    position: absolute;
    bottom: 120pt;
    right: 20pt;
    font-size: 20pt;
    font-weight: 900;
    padding: 10pt;
    border-radius: 10pt;
    background-color: rgba(0,0,0,.5);
    display: none;
    z-index: 100;
}

#nextEpisodeButton:hover{
    background-color: black;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid 5pt lime;
}

.panel{
    height: auto;
    padding: 1.75vw;
    margin: 1.25vw;
    background-color: rgba(20,20,20,1);
    float: left;
    border-radius: 2.5vw;
    backdrop-filter: blur(25pt);
    -webkit-backdrop-filter: blur(25pt);
    box-shadow: 0 0 2vw 0 black;
}

.panel-row{
    float: left;
    height: auto;
    width: 100vw;
}

.panel-title{
    font-size: 30pt;
    font-weight: 900;
    padding-bottom: 10pt;
    padding-left: 10pt;
    border-bottom: solid 1px white;
}

.caption {
    padding: 10pt;
    font-size: 14pt;
    font-weight: 500;
}

.settings-button{
    height: auto;
    margin: 10pt;
    padding: 10pt;
    font-size: 16pt;
    border-radius: 10pt;
    font-weight: 500;
    color: white;
    border: solid 1px rgba(140,140,140,1);
    background-color: rgba(38,38,38,1);
    color: rgba(166,166,166,1);
    text-align: center;
    cursor: pointer;
}

.settings-button:hover{
    border: solid 1px white;
    color: white;
}

#moreinfo-video-player-ui{
    height: auto;
    width: calc(100vw - 40pt);
    background-color: rgba(47,47,47,1);
    z-index: 100;
    padding: 20pt;
    position: absolute;
    top: 100vh;
    left: 0;
}

#moreinfo-video-player-title{
    font-size: 60pt;
    font-weight: 900;
}

#moreinfo-video-player-caption{
    font-size: 30pt;
    font-weight: 500;
    margin-top: 5pt;
}

#moreinfo-video-player-description{
    font-size: 16pt;
    font-weight: 500;
    margin-top: 15pt;
    padding-top: 15pt;
    border-top: solid 1px white;
    line-height: 1.5;
}
