@font-face {
    font-family: BaileyFont;
    src: url('$assets/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf');
}

:root{
    --neu-rest: 
        -4px -4px 12px rgba(255, 255, 255, 0.1),
        4px 4px 12px rgba(0, 0, 0);
    --neu-active: 
        inset -4px -4px 12px rgba(255, 255, 255, 0.1),
        inset 4px 4px 12px rgba(0, 0, 0);

    --bg: rgb(25, 20, 30);
    --fg: rgb(44, 34, 53);
    --e-fg: rgb(73, 59, 89);

    --accent: rgb(120, 80, 245);
}

body{
    margin: 0;
    color: white;
    background: var(--bg);
    font-family: BaileyFont;
    font-size: 12pt;
    font-weight: 400;
}

.horizontal-scroll{
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 0;
}

.horizontal-scroll > *{
    display: inline-block;
    font-size: 12pt;
}

.horizontal-scroll::-webkit-scrollbar{
    display: none;
}

img{
    display: block;
}

a{
    all: unset;
    cursor: pointer;
}

button{
    all: unset;
    cursor: pointer;
}

button img[icon]{
    height: 25px;
}

input{
    all: unset;
    cursor: text;
}

h1{
    all: unset;
    display: block;

    font-size: 18pt;
    font-weight: 600;
}

h2{
    all: unset;
    display: block;

    font-size: 15pt;
    font-weight: 500;
    color: var(--accent);
}

h3{
    all: unset;
    display: block;

    font-size: 12pt;
    font-weight: 400;
}

h4{
    all: unset;
    display: block;

    font-size: 10pt;
    font-weight: 300;
    color: gray;
}