@font-face {
    font-family: 'WorkSans';
    src: url('Work_Sans/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Gantari';
    src: url('Gantari/Gantari-VariableFont_wght.ttf');
}

:root {
    --contrast: #F1F1F1;
    --theme: #1b1b1b;
    --accent: #80DCB7;
    --main: #FF8F00;
    --main2: #F6AE2D;
}

body{
    font-family: Gantari;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--theme);
    color: var(--contrast);
}

@media screen and (max-width: 600pt) {
    .navbar-item-icon{
        height: 15pt;
        width: 15pt;
        margin-right: 7pt;
    }
    .navbar-item-text{
        display: none;
    }
    #navbar{
        background-color: var(--main);
    }
    .navbar-logo{
        display: none;
    }
}

@media screen and (min-width: 600pt) {
    #searchBar:focus{
        width: 20vw;
    }
    .navbar-item-icon{
        display: none;
    }
    #navbar{
        background-color: rgb(53, 53, 53);
    }
}

#searchBarDesktop{
    height: 35pt;
    width: auto;
    margin: 10pt;
    padding: 10pt;
    font-size: 12pt;
    color: white;
    background-color: var(--theme);
    border-radius: 10pt;
    border: none;
    outline: none;
    transition: width 100ms;
    float: left;
}

.mobile-search{
    display: none;
}

#navbar{
    height: 55pt;
    width: 100vw;
    display: inline-block;
}

.navbar-logo{
    height: 35pt;
    width: 35pt;
    float: left;
    margin: 10pt;
}

.navbar-item-container{
    height: 40pt;
    float: left;
    display: flex;
    align-items: center;
    padding: 7pt 15pt 7pt 15pt;
    cursor: default;
    font-size: 13pt;
    font-weight: 500;
    color: white;
}

.navbar-item-container:hover{
    color: var(--accent);
}

.active-navbar-container {
    color: var(--main);
}

#navbar a{
    text-decoration: none;
    color: black;
}

.h1{
    font-size: 2vw;
    font-weight: 500;
    padding: 1vw;
}

.text-center{
    text-align: center;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 0.5vw;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.media-image-button{
    height: 10vw;
    width: 17vw;
    margin: 0.5vw;
    background: transparent no-repeat center;
    background-size: cover;
    display: inline-block;
}

.media-image-button:hover{
    height: 10.5vw;
    width: 17.5vw;
    margin: 0.25vw;
    box-shadow: 0 0 0 1pt rgb(134, 134, 134);
}

.media-image-button:hover .media-image-button-text-container{
    display: block;
}

.media-image-button-text-container{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #1b1b1b 0%, #1b1b1b48 50%, rgba(0,0,0,0) 100%);
    position: relative;
    top: 0;
    left: 0;
    display: none;
}

.media-image-button-text{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 10pt;
    left: 0;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    white-space: normal; 
}

.featured-panel-gradient{
    background: linear-gradient(0deg, var(--theme) 0%, #1b1b1bd3 25%, rgba(0,0,0,0) 75%);
}

.gradient-display-panel{
    height: 80vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.gradient-display-image{
    height: 100%;
    width: 100%;
    background: transparent no-repeat center;
    background-size: cover;
}

.utility-items-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.utility-items{
    height: auto;
    position: absolute;
    bottom: 27pt;
    left: 20pt;
}

.gradient-display-panel-title{
    font-size: 40pt;
    font-weight: 700;
    margin: 5pt 5pt 10pt 5pt;
    color: white;
}

.button{
    height: auto;
    width: fit-content;
    padding: 10pt;
    margin: 5pt;
    background-color: rgb(60, 60, 60);
    font-size: 15pt;
    text-align: center;
    border-radius: 10pt;
    cursor: pointer;
    font-weight: 600;
    float: left;
}

.button:hover{
    background-color: rgb(100, 100, 100);
}

.activity-button{
    background-color: var(--main);
}

.activity-button:hover{
    background-color: var(--main2);
}

#tvExpandScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#exitTvExpandScreenClicker{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

#tvExpandPanel{
    height: 90vh;
    width: 60vw;
    position: absolute;
    top: 10vh;
    left: 20vw;
    background-color: var(--theme);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    overflow-y: scroll;
}

#tvExpandPanelTopImage{
    height: 60vh;
    width: 100%;
    background-color: black;
    background: url('images/the-office-ci.jpg') transparent no-repeat center;
    background-size: cover;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

#tvExpandPanelTopImageSheet{
    height: 61vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, var(--theme) 0%, #1414143c 50%, rgba(0,0,0,0) 100%);
}

#closeTvExpandScreenButton{
    height: 2vw;
    min-height: 20pt;
    width: 2vw;
    min-width: 20pt;
    padding: 7pt;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 1vw;
    left: 1vw;
    border-radius: 100%;
}

#closeTvExpandScreenButton:hover{
    background-color: coral;
}

#tv-expand-panel-title{
    font-size: 45pt;
    font-weight: 600;
    padding: 0.5vw;
}

.utilityItems{
    position: absolute;
    bottom: 2vw;
    left: 2vw;
}

#tv-expand-panel-navbar{
    height: auto;
    width: auto;
    padding: 10pt;
}

.tv-expand-panel-navbar-item{
    display: inline-block;
    padding: 12pt;
    font-size: 18pt;
    font-weight: 500;
    cursor: default;
    color: white;
}

.tv-expand-panel-navbar-item:hover{
    color: var(--accent);
}

.active-tv-expand-panel-navbar-item{
    display: inline-block;
    padding: 12pt;
    font-size: 18pt;
    font-weight: 500;
    cursor: default;
    color: var(--main);
}

#seasonEpisodesList{
    font-size: 25pt;
    padding-bottom: 50pt
}

.orderedListItem{
    padding-top: 7pt;
    padding-bottom: 7pt;
    cursor: default;
}

.orderedListItem:hover{
    background-color: black;
}

.orderedListNumber{
    width: 10%;
    display: inline-block;
    text-align: right;
}

.orderedListContent{
    width: calc(90% - 25pt);
    padding-left: 25pt;
    display: inline-block;
}

#notificationModule{
    height: auto;
    max-height: 50vh;
    overflow-y: hidden;
    width: 28vw;
    position: fixed;
    top: -50vh;
    left: 35vw;
    background-color: rgba(255, 255, 255, 0.883);
    backdrop-filter: blur(1vw);
    -webkit-backdrop-filter: blur(1vw);
    color: black;
    padding: 1vw;
    border-radius: 1vw;
    transition-duration: 500ms;
}

#notificationModule:hover{
    background-color: white;
    padding: 2vw;
    left: 34vw
}

#notificationModuleTitle{
    width: auto;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    margin: 0.5vw;
}

#notificationModuleMessage{
    font-size: 1vw;
}

#loadingScreen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

#loadingScreen img{
    height: 20vh;
    width: 20vh;
    position: absolute;
    top: 40vh;
    left: calc(50vw - 10vh);
}

#profileFrame{
    height: 60vh;
    width: 50vw;
    position: absolute;
    top: 54pt;
    left: 25vw;
    background-color: rgb(53, 53, 53);
    box-shadow: 0 0 10pt 0 var(--theme);
    z-index: -100;
}

#profileFrame iframe{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

#exitProfileButton{
    height: 2vw;
    min-height: 20pt;
    width: 2vw;
    min-width: 20pt;
    padding: 7pt;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 1vw;
    left: 1vw;
    border-radius: 100%;
}

#exitProfileButton:hover{
    background-color: coral;
}

#profileNavbarContainer {
    background-color: rgb(53,53,53);
}