@font-face {
    font-family: 'BaileyScript';
    src: url('../../stylesheets/BaileyScript/BaileyScript.ttf');
}

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: BaileyScript;
}

.pixel-object{
    height: 1px;
    width: 1px;
    background-color: blue;
    float: left;
}

.pixel-object:hover{
    box-shadow: 0 0 1vw 0 black;
    position: relative;
}